
//primary
.primary {
  cursor: pointer;

  //hover
  &:hover {
    opacity: 0.9;
  }

  //focus
  &:focus {
    outline: 0;
  }


  //primary-outline
  .primary-outline {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    //focus
    &:focus {
      outline: 0;
    }
  }
}
