.component-carton-box {
    margin: 0px 35px 30px 35px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 576px) {
      margin: 0px 10px 10px 10px;
    }
    .product-img {
      width: 140px;
      object-fit: contain;
      border-radius: 999px;
      @media (max-width: 576px) {
        width: 75px;
      }
    }
    .box-summary{
        max-width: 85px;
    }
  
    .product-item {
      width: 150px;
      height: 150px;
      border-radius: 999px;
      background-color: #f4f5f7;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(http://placeimg.com/640/480/cats);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @media (max-width: 576px) {
        width: 75px;
        height: 75px;
        margin: 10px 20px 0px 20px;
      }
      &:hover {
        .empty-circle {
          display: block;
          z-index: -1;
          transform: scale(1);
          transition: 1s all ease;
          animation: rotate 0.7s forwards 1;
        }
      }
    }
    @keyframes rotate {
      0% {
        transform: rotate(60deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .empty-circle {
      position: absolute;
      width: 160px;
      height: 160px;
      background-image: linear-gradient(to bottom, #65d0db, #b3c2ff 40%, #fff);
      border-radius: 999px;
      display: none;
      top: -7px;
      transition: 1s all ease;
      @media (max-width: 576px) {
        width: 168px;
        height: 168px;
      }
    }
  }
  