.component-cart-details {
  border-radius: 8px;
  box-shadow: 0 7px 34px 0 rgba(147, 144, 144, 0.17);
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  max-height: 500px;
  min-width: 300px;
}
